<component name="ArtifactManager">
  <artifact type="war" name="springMVCJava:war">
    <output-path>$PROJECT_DIR$/springMVCJava/target</output-path>
    <root id="archive" name="SpringMVCJava.war">
      <element id="artifact" artifact-name="springMVCJava:war exploded" />
    </root>
  </artifact>
</component>